<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order pizza</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>Make order</h1>
    <p id="backButton"><a th:href="@{/pizzaparadise}">Back to Menu</a></p>

    <form th:action="@{/pizzaparadise/order}" method="post">
        <h2>Choose pizza</h2>
        <div th:each="pizza : ${pizzas}">
            <input type="checkbox" name="pizzaIds" th:value="${pizza.id}">
            <span th:text="${pizza.name} + ' (' + ${pizza.price} + ' kr)'"></span>
        </div>

        <h2>Extra Topping</h2>
        <div th:each="topping : ${toppings}">
            <input type="checkbox" name="toppingIds" th:value="${topping.id}">
            <span th:text="${topping.name} + ' (' + ${topping.price} + ' kr)'"></span>
        </div>

        <button type="submit">Bestil</button>
    </form>
</body>
</html>